<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./css/animations.css"></link>
    <link rel="stylesheet" href="./css/local-ntp-common.css"></link>
    <link rel="stylesheet" href="./css/customize.css"></link>
    <link rel="stylesheet" href="./css/doodles.css"></link>
    <link rel="stylesheet" href="./css/local-ntp.css"></link>
    <link rel="stylesheet" href="./css/theme.css"></link>
    <link rel="stylesheet" href="./css/voice.css"></link>
    <link rel="stylesheet" href="./css/styles.css"></link>
    <link 
      rel="preload" 
      href="https://lh6.googleusercontent.com/proxy/l1UbR1gsoYN-hZbx61VzGl5uqcnI33psXie_yhsNYJCDTywomhzGtmAPrNyAnx-z6LESlH9_c8SHt4UIRSAqzOiSi51Uq9IR3zqZglqoNxyeqrFzogNbLZm2FY7fVBFEFAlu0QU=w3840-h2160-p-k-no-nd-mv" 
      as="image"
    >
    <script nonce="s0methingNoncy" src="./js/index.js" type="module" ></script>
    <title>Hello!</title>
    <meta charset="utf-8">
  </head>
  
  <body class="custom-bg-body" >
    <div id="reactRoot"></div>

    <script nonce="s0methingNoncy" src="./js/renderReact.js" type = "text/babel" ></script>

  </body>
</html>